<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>654280610952-sedurb9o1349njnhjfh82nf508lo4thn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654280610952-sedurb9o1349njnhjfh82nf508lo4thn</string>
	<key>API_KEY</key>
	<string>AIzaSyAy-oR_rPX-5x9ToXVZeZ5bnmWGA7OZQvE</string>
	<key>GCM_SENDER_ID</key>
	<string>654280610952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peirong.Shopee</string>
	<key>PROJECT_ID</key>
	<string>shopee-e587a</string>
	<key>STORAGE_BUCKET</key>
	<string>shopee-e587a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654280610952:ios:66e482680b6bf2a5</string>
	<key>DATABASE_URL</key>
	<string>https://shopee-e587a.firebaseio.com</string>
</dict>
</plist>